Repository dnschneid/kischvidimer: changes, and which pre-commit hooks are due for each by the changed paths.
All: quick-lint-js, prettier

quick-lint-js:
  name: quick-lint-js
  entry: ./npxenv quick-lint-js
  args: []
  language: python
  additional_dependencies:
  - nodeenv

prettier:
  name: prettier
  entry: ./npxenv prettier
  args:
  - --no-config
  - --write
  language: python
  additional_dependencies:
  - nodeenv

npxenv: no need to check staleness
  npxenv
Due: none

database.js: handle empty queries better
  kischvidimer/database.js
Due: quick-lint-js, prettier

diffui.js: fix search view when zoom-to-content is enabled
  kischvidimer/diffui.js
Due: quick-lint-js, prettier

diffui: output the library ID when mousing over a symbol
  kischvidimer/database.js
  kischvidimer/diffui.js
  kischvidimer/kicad_sch.py
Due: quick-lint-js, prettier

database.js: improve variable names in matchDistance
  kischvidimer/database.js
Due: quick-lint-js, prettier

diffui: page list shows parents, enter key advances page list
  kischvidimer/diffui.css
  kischvidimer/diffui.js
Due: quick-lint-js, prettier

diffui: Move pagelist to separate module
  kischvidimer/diffui.js
  kischvidimer/pagelist.js
Due: quick-lint-js, prettier

pagelist: simplify code
  kischvidimer/diffs.js
  kischvidimer/diffui.css
  kischvidimer/pagelist.js
Due: quick-lint-js, prettier

More cleanups
  kischvidimer/diffs.js
  kischvidimer/diffui.js
  kischvidimer/search.js
  kischvidimer/settings.js
Due: quick-lint-js, prettier

diffui: replace parent search with closest()
  kischvidimer/diffui.js
Due: quick-lint-js, prettier

Fold more into Viewport
  kischvidimer/diffui.js
  kischvidimer/viewport.js
Due: quick-lint-js, prettier

schgen: add --worksheet override option
  kischvidimer/schgen.py
Due: none

schgen: use argparse, and fix out-of-dir rev lookup
  kischvidimer/git.py
  kischvidimer/schgen.py
Due: none

diffui.js: style improvements
  kischvidimer/diffui.js
Due: quick-lint-js, prettier

panToElems: fix zoom calculations
  kischvidimer/viewport.js
Due: quick-lint-js, prettier

database: ensure page number is always a number
  kischvidimer/database.js
Due: quick-lint-js, prettier

diffui: start to clean up tooltip cycling
  kischvidimer/diffui.js
  kischvidimer/tooltip.js
Due: quick-lint-js, prettier

diffui: distinguish buses from nets
  kischvidimer/database.js
  kischvidimer/diffui.js
  kischvidimer/diffui.py
  kischvidimer/netlister.py
Due: quick-lint-js, prettier

Use license_file (case-insensitive) instead of licenseFile
  kischvidimer/kicad_pro.py
Due: none

Change feedbackURL to feedback_url
  kischvidimer/diffui.py
Due: none

Add customizable license header text
  kischvidimer/diffui.py
  kischvidimer/kicad_pro.py
  kischvidimer/schgen.py
Due: none

Add github actions
  .github/workflows/pages.yml
  .github/workflows/pre-commit.yml
Due: none

gitlab ci: include fonttools
  ci/gitlab.yml
Due: none

Add github action for schgen
  ci/schgen/action.yml
Due: none

Support newlines in license header
  kischvidimer/diffui.py
Due: none

diffui: don't clip schematic title when in small screen mode
  kischvidimer/diffui.css
Due: prettier

Increase max version to 9
  kischvidimer/kicad_common.py
Due: none

svg: Fix rendering of arcs regardless of start/mid/end ordering
  kischvidimer/svg.py
Due: none

kicad_common: fix margins and negative sizes on text boxes
  kischvidimer/kicad_common.py
Due: none

Fix text box border vs text color interference
  kischvidimer/kicad_common.py
  kischvidimer/kicad_sch.py
  kischvidimer/kicad_sym.py
  kischvidimer/kicad_wks.py
  kischvidimer/svg.py
Due: none

kicad_pro: fix worksheet loading from a relative path
  kischvidimer/kicad_pro.py
Due: none

kicad_sch: draw a default title block if none specified
  kischvidimer/kicad_sch.py
Due: none

fix image scaling: extract dpi data from images and use that
  kischvidimer/bmp.py
  kischvidimer/jpeg.py
  kischvidimer/png.py
  kischvidimer/svg.py
Due: none

Add bezier support
  kischvidimer/kicad_common.py
  kischvidimer/svg.py
Due: none

Add net directive rendering support
  kischvidimer/kicad_common.py
  kischvidimer/kicad_sch.py
  kischvidimer/netlister.py
Due: none

themes.py: add kicad 9 entries and fixes
  kischvidimer/themes.py
Due: none

kicad_sch: add rule area rendering support
  kischvidimer/kicad_common.py
  kischvidimer/kicad_sch.py
  kischvidimer/svg.py
Due: none

kicad_sch: add table support
  kischvidimer/kicad_common.py
  kischvidimer/kicad_sch.py
Due: none

svg.py: fix bounding box calculation of vjust text in symbols
  kischvidimer/svg.py
Due: none

svg: fix bounding box calculation of rects in symbols
  kischvidimer/svg.py
Due: none

Path conditions:
  quick-lint-js: any of: \.(js|mjs|cjs)$ and not (\.min\.) and not (^$|diff-project|kischvidimer/diff.py|kischvidimer/fileparse.py|kischvidimer/project.py|kischvidimer/resolver.py)
  prettier: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$ and not (\.min\.) and not (^$|diff-project|kischvidimer/diff.py|kischvidimer/fileparse.py|kischvidimer/project.py|kischvidimer/resolver.py)
