Repository dnschneid/kischvidimer: changes, and which pre-commit hooks are due for each by the changed paths.
All: quick-lint-js, prettier

quick-lint-js:
  name: quick-lint-js
  entry: ./npxenv quick-lint-js
  args: []
  language: python
  additional_dependencies:
  - nodeenv

prettier:
  name: prettier
  entry: ./npxenv prettier
  args:
  - --no-config
  - --write
  language: python
  additional_dependencies:
  - nodeenv

Apply prettier formatter
  kischvidimer/diffui.css
  kischvidimer/diffui.html
  kischvidimer/diffui.js
Due: quick-lint-js, prettier

Clean up misc data injection and fix linter issues
  kischvidimer/diffui.js
  kischvidimer/diffui.py
Due: quick-lint-js, prettier

Reduce default print margins
  kischvidimer/diffui.js
Due: quick-lint-js, prettier

Version text: drop remote part of path
  kischvidimer/git.py
Due: none

Post-process CI_COMMIT_REF_NAME in pipelines
  kischvidimer/git.py
Due: none

Fix single-page diffui generation (no netlist)
  kischvidimer/diffui.js
  kischvidimer/diffui.py
  kischvidimer/netlister.py
Due: quick-lint-js, prettier

Don't use Variables.expand/resolve in fillvars
  kischvidimer/kicad_sch.py
Due: none

Improve root page detection
  kischvidimer/kicad_sch.py
Due: none

kicad_sym: render no_connect pin style
  kischvidimer/kicad_sym.py
Due: none

diffui: fix svg links (eg pages names) turning black
  kischvidimer/diffui.css
Due: prettier

Define NET_NAME, SHORT_NET_NAME, and INTERSHEET_REFS on labels
  kischvidimer/kicad_common.py
  kischvidimer/kicad_sch.py
  kischvidimer/netlister.py
Due: none

Improve rendering of global labels and label props
  kischvidimer/kicad_common.py
  kischvidimer/kicad_sch.py
Due: none

Only global labels offset field locations
  kischvidimer/kicad_common.py
  kischvidimer/kicad_sch.py
Due: none

sexp.py: speed up SExp.__getitem__ a fair bit
  kischvidimer/sexp.py
Due: none

Speed up SExp.type/data by caching has_type
  kischvidimer/sexp.py
Due: none

Speed up and make sexp hash generation generic
  kischvidimer/kicad_sym.py
  kischvidimer/sexp.py
Due: none

Fix handling of colored junctions
  kischvidimer/kicad_sch.py
Due: none

Embed html before code
  kischvidimer/diffui.py
Due: none

Handle cases where a library is imported by a module
  kischvidimer/diffui.py
Due: none

Replace stubs for libraries with fake imports
  kischvidimer/diffui.js
  kischvidimer/diffui.py
Due: quick-lint-js, prettier

WIP: start to rip stuff out of diffui
  kischvidimer/diffui.js
  kischvidimer/tooltip.js
  kischvidimer/viewport.js
Due: quick-lint-js, prettier

Viewport should own the tooltip in the future
  kischvidimer/diffui.js
  kischvidimer/viewport.js
Due: quick-lint-js, prettier

Get rid of extra newline when removing stubs
  kischvidimer/diffui.py
Due: none

diffui: implement a simple javascript module stitcher
  kischvidimer/diffui.py
Due: none

Cleanup and fixes; things are now working
  kischvidimer/diffui.js
  kischvidimer/viewport.js
Due: quick-lint-js, prettier

Simplify parent search
  kischvidimer/diffui.js
Due: quick-lint-js, prettier

Simplify getElem
  kischvidimer/diffui.js
Due: quick-lint-js, prettier

Move more into tooltip/viewport
  kischvidimer/diffui.js
  kischvidimer/tooltip.js
  kischvidimer/viewport.js
Due: quick-lint-js, prettier

WIP: purge getElem
  kischvidimer/database.js
  kischvidimer/diffui.js
  kischvidimer/tooltip.js
  kischvidimer/viewport.js
Due: quick-lint-js, prettier

Fix/improve tooltip display
  kischvidimer/tooltip.js
Due: quick-lint-js, prettier

Split search into a new file
  kischvidimer/diffui.js
  kischvidimer/search.js
  kischvidimer/tooltip.js
  kischvidimer/viewport.js
Due: quick-lint-js, prettier

Pull out database into a separate module
  kischvidimer/database.js
  kischvidimer/diffui.js
  kischvidimer/diffui.py
  kischvidimer/viewport.js
Due: quick-lint-js, prettier

diffui.py: sort javascript blocks topologically
  kischvidimer/diffui.py
Due: none

Fix zoom to content
  kischvidimer/diffui.js
Due: quick-lint-js, prettier

Split diff logic out to a separate file
  kischvidimer/diffs.js
  kischvidimer/diffui.js
  kischvidimer/search.js
Due: quick-lint-js, prettier

Break out settings and util funcs
  kischvidimer/diffs.js
  kischvidimer/diffui.js
  kischvidimer/search.js
  kischvidimer/settings.js
  kischvidimer/tooltip.js
  kischvidimer/util.js
  kischvidimer/viewport.js
Due: quick-lint-js, prettier

Compress uiData and move into DB
  kischvidimer/database.js
  kischvidimer/diffui.js
  kischvidimer/diffui.py
Due: quick-lint-js, prettier

css: use flexbox for dialog management
  kischvidimer/diffui.css
Due: prettier

Add license file embedding
  kischvidimer/diffui.html
  kischvidimer/diffui.js
  kischvidimer/diffui.py
  kischvidimer/icons/copyright.svg
  kischvidimer/kicad_pro.py
  kischvidimer/schgen.py
Due: quick-lint-js, prettier

schgen: add --scrub parameter for modifying input files
  kischvidimer/kicad_pro.py
  kischvidimer/kicad_sch.py
  kischvidimer/schgen.py
Due: none

Path conditions:
  quick-lint-js: any of: \.(js|mjs|cjs)$ and not (\.min\.) and not (^$|diff-project|kischvidimer/diff.py|kischvidimer/fileparse.py|kischvidimer/project.py|kischvidimer/resolver.py)
  prettier: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$ and not (\.min\.) and not (^$|diff-project|kischvidimer/diff.py|kischvidimer/fileparse.py|kischvidimer/project.py|kischvidimer/resolver.py)
